/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navegador*/

/* CSS personalizado para el botón del menú en todas las paginas*/

.custom-navbar-toggler {
    background-color: #f06e9c; /* Cambia el color de fondo del botón */
    border-color: #f06e9c; /* Cambia el color del borde del botón */
}

  /* Cambia el color del ícono del botón del menú */
  .custom-navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-brand {
    width: 50%; /* Ajusta el ancho del logo */
}
.logo {
    height: 74px;
    width: 74px;
}


/*Configuracion inical para mobile*/
.layout{
    height: 40rem;
}
.titulo h1{
    display: flex;
    font-family: "Source Sans 3", sans-serif; /*Importo fuente desde google fonts*/
    font-size: 2rem;
    justify-content: center;
}
.descripcion-inicial{
    text-align:center;
    font-size: 1.2rem;

}
h2{
    display: none;
}
.boton-principal{
    height: 10%;  
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.boton-principal a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;  
    width: 16rem;
    font-size: 1.5rem;
    background-color:#f06e9c; /*Color de fondo*/
    text-decoration: none;
    border: 1px solid #f06e9c;   /*Color negro en los bordes*/
    border-radius: 25px; /*Bordes redondeados */
    box-shadow: 0 4px 8px 0;
    margin-top: 10%;

}
.boton-principal a{
   color: white;

}
.imagen-principal{
    height: 16rem;
    display: flex;
    justify-content: center;
    padding: 5px 50px 10px 50px; 
}
footer{
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-redes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.redes-sociales{
    display:flex;
    justify-content: center;
    height: 23%;
    width: 13%;
}
/*Oculto los elementos que no quiero que se vean en Mobile*/
.productos{
    display:none;
}
.footer-texto{
    display: none;
}


/*ESTILOS PARA LA PAGINA DE CONTACTO*/
.direccion-entradas{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo transparente */
    padding: 10px; /* Espaciado dentro de cada entrada */
}
.imagen-contacto{
    display: none;
}
.titulo-formulario{
    display: flex;
    font-family:"Staatliches", sans-serif; /*Importo otra fuente desde google font*/
    font-size: 4rem;
    justify-content: center;
}
.contenedor-1 {
    height: 80vh;
}
.direccion-entrada{
    display:flex;
    flex-direction:column;
}
.direccion-entrada label{
    font-family:"Staatliches", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #f06e9c;
    margin-left: 10%;
}
.direccion-entrada input{
    font-size: 1.2rem;
    width: 20rem;
    height: 3rem;
    margin-left: 10%;
    margin-top: 0.5;
}
.entrada-grande input{
    display:flex;
    font-size: 1.2rem;
    width: 20rem;
    height: 7rem;
}


.boton{
    margin-top: 1rem;
    margin-left: 5%;
}


/*Configuracion para pantalla de tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
/*Organizo los elementos de la pantalla principal con una grilla de grid*/
.posicion-nav{
    display: flex;
    justify-content: end;
}
.layout {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(4,1fr) 0.5fr 2.3fr ; 
    grid-gap: 10px;
}
.grid-item{
    width: 100%; 
    height: auto;
}
.titulo{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1/ 2;
}
.titulo h1{
    font-size: 5vw;

}
.descripcion-inicial{
    display: grid;
    grid-column: 1/3;
    grid-row: 2 / 5;
}
.imagen-principal{
    display: grid;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor padre */
    height: 100%;
    overflow: hidden; /*Borra la imagen que sobresale del contenedor*/
}
.imagen-principal img {
    width: 90%;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    justify-self: center;
    align-self: center;
}
.boton-principal{
    display: grid;
    font-size: 4vw;
    height: 100%;
    grid-column: 3/ 5;
    grid-row: 4 / 5;
    padding: 1rem;
  
}
.boton-principal a{
    margin: 0;
}
h2{
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1/ 5;
    font-size: 1.3rem;
    text-align: center;
    color: #f06e9c;
}
.productos{
    overflow: overlay;
    display:grid;
    grid-column: 1/ 5;
    grid-row: 6 / 7;
    width: 100%; 
    height: 100%;
    align-items: center;
    justify-items: center;
}
.img-5{
    display: none;
}

.img-1{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 1/ 2;
}
.img-2{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 2 / 3;
}
.img-3{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 3 / 4;
}
.img-4{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 4 / 5;
}

.redes-sociales{
    display:flex;
    height: 30%;
    width: 25%;
    
}
footer{
    display: flex; 
    align-items: center;
    height: 5rem;
}
.footer-texto{
    display: flex;
    flex-direction: column;
    inline-size: none;
    width: 70%;
}
.footer-texto p{
    display: flex;
    justify-content: end;
    margin: 0;
}
.footer-redes{
    display: flex;
    justify-content: end;
    width: 30%;
    gap:1.5rem;
    margin-right: 1.5rem;
}

}

/* Estilos para portátiles */
@media only screen and (min-width: 1025px) {
.posicion-nav{
     display: flex;
     justify-content: end;
 }
.layout {
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    grid-template-rows: repeat(4,1fr) 0.5fr 2.3fr ; 
    grid-gap: 10px;
 }
.grid-item{
    width: 100%; 
    height: auto;
}
.titulo{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1/ 2;
}
.descripcion-inicial{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.imagen-principal{
    display: grid;
    grid-column: 3 / 6;
    grid-row: 1 / 5;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor padre */
    height: 100%;
    overflow: hidden; /*Borra la imagen que sobresale del contenedor*/
}
.imagen-principal img {
    width: 68%;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    justify-self: end;
    align-self: center;
    margin-right: 4rem;
}
.boton-principal{
    display: grid;
    font-size: 4vw;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    padding: 1rem;
  
}
h2{
    display: grid;
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    font-size: 1.3rem;
    text-align: center;
    color: #f06e9c;
}
.productos{
    overflow: overlay;
    display:grid;
    grid-column: 1/ 6;
    grid-row: 6 / 7;
    width: 100%; 
    height: 100%;
    align-items: center;
    justify-items: center;
}
.img-1{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 1 / 2;
}
.img-2{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 2 / 3 ;
}
.img-3{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 3 / 4;
}
.img-4{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 4 / 5;
}
.img-5{
    width: 10rem;
    height: auto; /* Establecer la altura automática para mantener la relación de aspecto */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    grid-column: 5 / 6;
}
.redes-sociales{
    display:flex;
    height: 25%;
    width: 20%;
    
}
footer{
    display: flex; 
    align-items: center;
    height: 5rem;
}
.footer-texto{
    display: flex;
    flex-direction: column;
    inline-size: none;
    width: 70%;
}
.footer-texto p{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-right: 2rem;
}
.footer-redes{
    display: flex;
    justify-content: end;
    width: 30%;
    gap:1.5rem;
    margin-right: 1.5rem;
}

}

