/*navegador*/
@import "../base/variables.scss";

/* CSS personalizado para el botón del menú en todas las paginas*/

.custom-navbar-toggler {
    background-color: $color-principal; /* Cambia el color de fondo del botón */
    border-color: $color-principal; /* Cambia el color del borde del botón */
}

  /* Cambia el color del ícono del botón del menú */
  .custom-navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-brand {
    width: 50%; /* Ajusta el ancho del logo */
}
.logo{
    height: 60px;
    width: 74px;
}
.navbar-collapse .nav-link {
    color: black; /* Cambia el color del texto del navegador */
}
.navbar-nav .nav-item {
    margin-right: 1.5rem; /* Puedes ajustar este valor según sea necesario */
 }

.nav-item:hover {
    background-color: $color-principal;
  }
