/*Variables para los colores #f06e9c*/
$color-principal: #f06e9c;
$color-secundario: white;
/*Variable para las fuentes*/
$fuente-principal:"Staatliches", sans-serif;
$fuente-secundaria: "Source Sans 3", sans-serif;