/* Pagina de contacto*/
@import "../../base/variables.scss";
@import "../../base/mixin";
main{
    div{
        .titulo-formulario {
            @include flex(flex, center);
            font-family: $fuente-principal; /*Importo otra fuente desde google font*/
            font-size: 4rem;
          }
    }
    .contenedor-1 {
        height: 68vh;
        .contenedor-2{
            form{
                .direccion-entrada {
                    display: flex;
                    flex-direction: column;
                    padding: 10px; /* Espaciado dentro de cada entrada */
                    label{
                        font-family: $fuente-principal;
                        font-size: 1.5rem;
                        margin-bottom: 5px;
                        color: $color-principal;
                        margin-left: 10%;
                    }
                    input{
                        font-size: 1.2rem;
                        width: 20rem;
                        height: 3rem;
                        margin-left: 10%;
                        margin-top: 0.5;
                    }
                }
                .entrada-grande{
                    input{
                        display: flex;
                        font-size: 1.2rem;
                        width: 20rem;
                        height: 7rem;
                    }
                }
                .boton {
                    margin-top: 1rem;
                    margin-bottom: 4rem;
                    margin-left: 6%;
                    font-size: 1.2rem;
                  }
            }
        }
        .imagen-contactos{
            display:none;
          }        
    }
}
footer{
    .footer-texto-contacto{
        display: none;
    }
}