/*principal*/
@import "../../base/variables.scss";
@import "../../base/mixin";

.layout {
    
    .titulo h1 {
      @include flex(flex, center);
        font-family: $fuente-secundaria; /*Importo fuente desde google fonts*/
        font-size: 200%;
    }
    .descripcion-inicial {
      text-align: center;
      font-size: 0.8em;
    }
      .imagen-principal {
        @include flex(flex, center);
        height: 16rem;
        display: none;
      }
      .carousel-container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        height: 16rem; 
        img{
          margin-top: 1rem;
          height: 30vh; 
          width: 10vh;
        }
        .carousel-inner{
          height: 16rem; 
          width: 16rem;
        }
      }
      .boton-principal {
        @include flex(flex, center);
        align-items: center;
        a{
            @include flex(flex, center);
            align-items: center;
            color: $color-secundario;
            height: 4rem;
            width: 16rem;
            font-size: 1.5rem;
            background-color: $color-principal; /*Color de fondo*/
            text-decoration: none;
            border: 1px solid $color-principal; /*Color negro en los bordes*/
            border-radius: 25px; /*Bordes redondeados */
            box-shadow: 0 4px 8px 0;
        }
      }
      .boton-principal a:hover {
        background-color: $color-secundario;
        color: $color-principal;
      }
      h2 {
        display: none;
      }
      .productos {
        display: none;
      }
  }
  footer {
    @include flex(flex, center);
    margin-top: 1.7rem;
    .footer-texto {
        display: none;
      }
      .footer-redes-si {
        @include flex(flex, center);
        gap: 10px;
        .redes-sociales {
          @include flex(flex, center);
          width: 70px;
          a{
            img{
              width: 60px;
            }
          }
          }
      }
  }
