/*principal*/
@import "../../base/variables.scss";
@import "../../base/mixin";
.layout {
    height: 40rem;
    .titulo h1 {
      @include flex(flex, center);
        font-family: $fuente-secundaria; /*Importo fuente desde google fonts*/
        font-size: 2rem;
      }
      .descripcion-inicial {
        text-align: center;
        font-size: 1.2rem;
      }
      .imagen-principal {
        @include flex(flex, center);
        height: 16rem;
        padding: 5px 50px 10px 50px;
      }
      .imagen-principal img:hover{
        animation-name: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s;
      }
      .boton-principal {
        @include flex(flex, center);
        height: 10%;
        align-items: center;
        a{
            @include flex(flex, center);
            align-items: center;
            color: $color-secundario;
            height: 4rem;
            width: 16rem;
            font-size: 1.5rem;
            background-color: $color-principal; /*Color de fondo*/
            text-decoration: none;
            border: 1px solid $color-principal; /*Color negro en los bordes*/
            border-radius: 25px; /*Bordes redondeados */
            box-shadow: 0 4px 8px 0;
            margin-top: 10%;
        }
      }
      .boton-principal a:hover {
        background-color: $color-secundario;
        color: $color-principal;
      }
      h2 {
        display: none;
      }
      .productos {
        display: none;
      }
  }
  footer {
    margin-top: 10px;
    @include flex(flex, center);
    .footer-texto {
        display: none;
      }
      .footer-redes-si {
        @include flex(flex, center);
        gap: 10px;
        .redes-sociales {
          @include flex(flex, center);
          width: 70px;
          a{
            img{
              width: 60px;
            }
          }
          }
      }
  }
